/* цвет вторичного текста #212121 */
/* основной цвет текста #757575 */
/* цвет текста лого   #2196F3      #000000 */
/* акцентний цвет текста #2196F3 */
/* цвет текста кнопки и h1 #FFFFFF */
/* цвет текста лого-футер #2196F3  #FFFFFF */
/* цвет акцента #2196F3 */
/* цвет фона #FFFFFF */
/* вторичний цвет фона  #2F303A; */

:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --novigation-color:#000000;
    --main-color:#FFFFFF;
    --main-font:'Roboto', sans-serif;
    --title-size:36px;
    --text-size:14px;
    --time-size:16px;
    --logo-size:26px;
}


body{
    background-color:#f7f2f2;
    color:var(--primary-text-color);
}

/* header */

.header{
    width:1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    }

.header-web{
    color:var(--accent-color);
    font-size: var(--logo-size);
    font-family: var(--main-font);
    }
.header-studio{
    color:var(--novigation-color);
    font-size: var(--logo-size);
    font-family: var(--main-font);
   }
.header-link{
    color:var(--title-text-color);
    font-family:var(--main-font);
    text-decoration: none;
    font-size: var(--text-size);
    margin:25px 93px 25px 215px;
    }

/* клас навигация */
ul{
    list-style: none;
}

.navigation-list{
    display: flex;
    
    }
    .novigation-item{
    margin-right: 50px;
    }
    
.novigation-link:hover, 
.novigation-link:focus{
color:var(--accent-color);
}
.novigation-link{
    color: var(--title-text-color);
    text-decoration: none;
    font-size: var(--text-size);
    font-family: var(--main-font);
}


/* company list */

.company-list{
    display: flex;
    margin:27px 9px 29px 211px; ;
}
.company-item{
    margin-right: 50px;
    
}
.company-item .company-link{
   text-decoration: none;
   color: var(--title-text-color);  
   font-size: var(--text-size);
   font-family: var(--main-font);
   display: flex;
}


.company-link:hover,
.company-link:focus{
 color: var(--accent-color);
   
}

/* hero */

.hero-sentr .hero-title{
    color:var(--main-color);
} 

/* button */

.btn{
    color: var(--main-color);
    background-color: var(--accent-color);
}
.btn-portfolio{
    color:var(--title-text-color);
    background-color: var(--main-color);
}
/* hero-summary */
.hero-summary .hero-subtitle{
    color:var(--title-text-color);
}
/* about */ 
.about .about-title{
    color: var(--title-text-color);
}
/* team */
.team .team-title, 
.team .team-name{
    color:var(--title-text-color);
}

/* footer */
.footer-logo{
    text-decoration: none;
}
.footer .web{
    color:var(--accent-color);
}
.footer .studio{
    color:var(--main-color);
}
.footer .adress,
 .company-link{
color: var(--main-color);
}


.footer .company-link:hover,
.footer .company-link:focus{
    color: var(--accent-color);
    text-decoration: none;
}
..footer .company-link{
    color:var(--main-color);
}