/* цвет вторичного текста #212121 */
/* основной цвет текста #757575 */
/* цвет текста лого   #2196F3      #000000 */
/* акцентний цвет текста #2196F3 */
/* цвет текста кнопки и h1 #FFFFFF */
/* цвет текста лого-футер #2196F3  #FFFFFF */
/* цвет акцента #2196F3 */
/* цвет фона #FFFFFF */
/* вторичний цвет фона  #2F303A; */

:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --novigation-color:#000000;
    --main-color:#FFFFFF;
}


body{
    background-color:#FFFFFF;
    color:var(--primary-text-color);

    /* клас навигация */
}
.novigation-link .novigation-web{
    color:var(--accent-color);
}
.novigation-link .novigation-studio{
    color:var(--novigation-color);
}

ul{
    list-style: none;
}
.novigation-item .novigation-link:hover, 
.novigation-item .novigation-link:focus{
    color:var(--accent-color);
}


/* company list */
.company-list .company-link:hover,
.company-list .company-link:focus{
    color: var(--accent-color);
}

/* hero */

.hero-sentr .hero-title{
    color:var(--main-color);
} 

/* button */

.btn{
    color: var(--main-color);
    background-color: var(--accent-color);
}
.btn-portfolio{
    color:var(--title-text-color);
    background-color: var(--main-color);
}
/* hero-summary */
.hero-summary .hero-subtitle{
    color:var(--title-text-color);
}
/* about */ 
.about .about-title{
    color: var(--title-text-color);
}
/* team */
.team .team-title, 
.team .team-name{
    color:var(--title-text-color);
}

/* footer */

.footer .web{
    color:var(--accent-color);
}
.footer .studio{
    color:var(--main-color);
}
.footer .adress,
 .company-link{
color: var(--main-color);
}


.footer .company-link:hover,
.footer .company-link:focus{
    color: var(--accent-color);
}